asgiref==3.9.1
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
cloudinary==1.44.1
cryptography==45.0.6
defusedxml==0.7.1
dj-rest-auth==2.2.6
Django==5.2.5
django-allauth==0.50.0
django-cloudinary-storage==0.3.0
django-cors-headers==4.7.0
django-unfold==0.65.0
djangorestframework==3.16.1
djangorestframework-simplejwt==5.3.1
idna==3.10
oauthlib==3.3.1
pillow==11.3.0
pycparser==2.22
PyJWT==2.10.1
python-decouple==3.8
python3-openid==3.2.0
requests==2.32.5
requests-oauthlib==2.0.0
six==1.17.0
sqlparse==0.5.3
urllib3==2.5.0
